@font-face{
    font-family:"Barlow-Light" ;
    src: url("./asserts/fonts/woff2/Barlow-Light.woff2") format("woff2");
    
    }
    
    @font-face{
        font-family:"BarlowCondensed-Black" ;
        src: url("./asserts/fonts/woff2/BarlowCondensed-Black.woff2") format("woff2");
        
        }
    